<form action="/sessions" method="post">
	Enter Email: <input type="text" name="email"> <br>
	Enter Password: <input type="password" name="password"> <br>
	<input type="submit" value="Login">
</form>


<% if @error %>
  <%= @error %>
<% end %>
