<form action="/wishes/<%=  @wish.id %>" method="post">
			<input id="hidden" type="hidden" name="_method" value="put">
			<input input type="text" name="users[:content]" placeholder="Enter tweet here" maxlength="140"><br>
			<input type="submit" value="submit">	
</form>