<center>
<form action="/tweets" method="post">
	<textarea name="tweet[:content]" placeholder="Enter tweet here" maxlength="140" rows="3" cols="50"></textarea><br>
	<input class="btn btn-info" type="submit" value="submit">
</form>
</center>
