<center>
<h1>Welcome TweetyByrd</h1>
<form action='/users/new' method="post">
	Enter Username: <input type="text" name="username"><br><br>
	Enter Email: <input type="text" name="email"><br><br>
	Enter Password: <input type="password" name="password1"><br><br>
	Re-enter Password: <input type="password" name="password2"><br><br>
	<input class="btn btn-info" type="submit" value="SUBMIT">
</form>
</center>

