<form action='/users/new' method="post">
	Enter Username: <input type="text" name="user[:username]">
	Enter Email: <input type="text" name="user[:email]">
	Enter Password: <input type="password1" name="user[:password]">
	Re-enter Password: <input type="password" name="password2">
	<input type="submit" value="SUBMIT">
</form>

